html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: -webkit-linear-gradient(118deg, rgb(218, 32, 51), rgb(79, 38, 131));
  background: linear-gradient(118deg, rgb(218, 32, 51), rgb(79, 38, 131));  
  height: 100%;
  background-attachment: fixed;
  background-size: 200% 200%;
	-webkit-animation: Gradient 8s ease infinite;
	-moz-animation: Gradient 8s ease infinite;
  animation: Gradient 8s ease infinite;
}

body.success {
  background: -webkit-linear-gradient(118deg, rgb(0,191,165), rgb(27,94,32));
  background: linear-gradient(118deg, rgb(0,191,165),  rgb(27,94,32)); 
  background-size: 300% 300%;
	-webkit-animation: Gradient 8s ease infinite;
	-moz-animation: Gradient 8s ease infinite;
  animation: Gradient 8s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.stop-times {
  list-style: none;
  font-size: 2rem;
  padding: 0;
}
.best-time {
  color: #00BFA5;
  font-size: 3rem;
}
.text-center {
  text-align: center;
}
.logo {
  width: 70%;
}